//======================bootstrap====================================================
// Core variables and mixins
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
//======================bootstrap====================================================
@import "font";
@import "animate";
html {
    font-size: 9px
}

@media screen and (min-width:321px) and (max-width:375px) {
    html {
        font-size: 10px
    }
}

@media screen and (min-width:376px) and (max-width:414px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width:415px) and (max-width:539px) {
    html {
        font-size: 14px
    }
}

@media screen and (min-width:540px) {
    html {
        font-size: 14px
    }
}

a,
button,
input,
textarea {}

img {
    -webkit-touch-callout: none;
}

html.full-screen {
    height: 100%;
    body,
    .stage {
        height: 100%;
    }
}

.fade {
    @include opacity(0);
    transition: opacity 0.3s linear;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    &.in {
        @include opacity(0.5);
    }
}

//舞台
.stage {
    position: relative;
    max-width: 540px;
    max-height: 960px;
    margin: 0 auto;
    background: #ce5343 url(../images/p01.png) no-repeat center top;
    background-size: 100%;
    overflow: hidden;
    //场景
    .scenes {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: none;
        &.active {
            display: block;
        }
        //标题页面场景
        &.scenes-title {
            z-index: 100;
            .game-name {
                display: block;
                margin: 0 auto;
                position: relative;
                top: 5%;
                width: 70%;
                animation: tada 5s linear infinite;
            }
            .earth {
                position: absolute;
                bottom: -750px;
                left: 50%;
                margin-left: -500px;
                width: 1000px;
                height: 1000px;
                border-radius: 1000px;
                border: 8px solid #ffdc7b;
                background: #ffffff;
                padding: 12px;
                animation: earth-rotation 60s linear infinite;
                z-index: 10;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 5px dashed #c9c9c9;
                }
            }
            .city {
                position: absolute;
                bottom: -850px;
                left: 50%;
                margin-left: -600px;
                animation: earth-rotation 78s linear infinite;
                width: 1200px;
                height: 1200px;
                background: url(../images/p03@2x.png) no-repeat center center;
                z-index: 9;
            }
            .heartbeat {
                position: absolute;
                bottom: 60px;
                left: 50%;
                margin-left: -180px;
                width: 360px;
                height: 70px;
                z-index: 20;
                background: url(../images/p04.png) no-repeat center center;
                background-size: 360px 70px;
                .mask {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    transform-origin: 100% 50%;
                    animation: heartbeat 5s linear infinite;
                }
            }
            .btn-start {
                position: absolute;
                bottom: 68px;
                left: 50%;
                margin-left: -50px;
                z-index: 30;
            }
            .logo-wrap {
                position: absolute;
                bottom: 5px;
                left: 0px;
                width: 100%;
                text-align: center;
                z-index: 30;
            }
            .coin {
                position: absolute;
                z-index: 40;
                animation: zoomInDown 3s;
                &.coin-1 {
                    bottom: 12%;
                    left: 10%;
                    animation-duration: 3s;
                }
                &.coin-2 {
                    bottom: 20%;
                    left: 30%;
                    animation-duration: 2s;
                }
                &.coin-3 {
                    bottom: 10%;
                    right: 40px;
                    animation-duration: 4s;
                }
                &.coin-4 {
                    bottom: 30%;
                    left: 20%;
                    animation-duration: 4s;
                }
            }
            .man {
                width: 80%;
                display: block;
                margin: 0 auto;
                position: absolute;
                bottom: 150px;
                left: 50%;
                margin-left: -40%;
                z-index: 35;
                animation: swing-small 2s linear infinite;
            }
        }
        &.scenes-start {
            .rule-container {
                position: absolute;
                z-index: 1050;
                width: 70%;
                left: 50%;
                top: 50%;
                margin-top: -125px;
                margin-left: -35%;
                background: url(../images/p10.png) no-repeat center center;
                background-size: 100% 100%;
                text-align: center;
                padding-top: 40px;
                padding-bottom: 40px;
                p {
                    color: #333;
                    margin: 10px 0;
                    font-size: 1.8rem;
                }
                .btn {
                    @include button-variant(#fff, #d25949, #d25949);
                    text-decoration: none;
                    user-select: none;
                    padding: 8px 20px;
                    border-radius: 20px;
                    margin-top: 10px;
                    border-left: 1px solid #b34435;
                    border-right: 1px solid #b34435;
                    border-bottom: 3px solid #9d3527;
                }
            }
            .whiteboard {
                margin-top: 15%;
                height: 30%;
                .head {
                    border-top: 15px solid #3b576d;
                    height: 0;
                    border-radius: 15px 15px 0 0;
                    margin-top: -14px;
                    .spire {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-color: #3b576d;
                        border-radius: 50%;
                        margin: 0 auto;
                        margin-top: -25px;
                    }
                }
                .foot {
                    border-bottom: 15px solid #3b576d;
                    height: 0;
                    border-radius: 0 0 15px 15px;
                    margin-bottom: -14px;
                }
                .leg {
                    background: url(../images/p17.png) no-repeat center top;
                    height: 100px;
                    background-size: auto 100px;
                }
                .body {
                    background-color: #fff;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    svg {
                        transition: transform 0.5s linear;
                    }
                    .score {
                        position: absolute;
                        width: 100%;
                        height: 2rem;
                        left: 0;
                        top: 0;
                        font-size: 2rem;
                        color: #d25949;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
            .earth {
                position: absolute;
                bottom: -750px;
                left: 50%;
                margin-left: -500px;
                width: 1000px;
                height: 1000px;
                border-radius: 1000px;
                border: 8px solid #ffdc7b;
                background: #ffffff;
                padding: 12px;
                z-index: 10;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 5px dashed #c9c9c9;
                }
            }
            .money {
                position: absolute;
                animation-name: sway;
                animation-iteration-count: infinite;
                animation-duration: 8s;
                animation-fill-mode: both;
                animation-timing-function: ease-in-out;
                z-index: 20;
                &.money-1 {
                    left: 20%;
                    bottom: 140px;
                    animation-delay: 1s;
                    animation-duration: 6s;
                }
                &.money-2 {
                    left: 15%;
                    bottom: 130px;
                    animation-delay: 1.8s;
                    animation-duration: 5s;
                }
                &.money-3 {
                    right: 15%;
                    bottom: 120px;
                    animation-delay: 0.6s;
                    animation-duration: 5s;
                }
                &.money-4 {
                    right: 25%;
                    bottom: 130px;
                    animation-delay: 1.3s;
                    animation-duration: 6s;
                }
            }
            .click-container {
                position: absolute;
                left: 50%;
                margin-left: -35px;
                width: 70px;
                height: 70px;
                bottom: 80px;
                z-index: 30;
                background-size: 100% 100%;
                .pig {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    width: 70px;
                    z-index: 31;
                    transform: scale(1, 1);
                    transition: transform 1s;
                }
                .circle {
                    z-index: 30;
                    width: 100%;
                    height: 100%;
                    transform: scale(1, 1);
                    // animation-name: scale;
                    animation-iteration-count: infinite;
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    // transition: transform 1s;
                    border: 2px solid #f4c044;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    &.circle-1 {
                        animation-delay: 0s;
                    }
                    &.circle-2 {
                        animation-delay: .3s;
                    }
                    &.circle-3 {
                        animation-delay: .6s;
                    }
                }
            }
            .clickme {
                position: absolute;
                z-index: 40;
                color: #ce5343;
                font-size: 1.4rem;
                animation: tada 1s infinite;
                opacity: 1;
                transition: opacity 1s;
                &.clickme-1 {
                    left: 30%;
                    bottom: 120px;
                }
                &.clickme-2 {
                    right: 30%;
                    bottom: 150px;
                }
            }
            .coin {
                position: absolute;
                z-index: 40;
                opacity: .55;
                &.coin-1 {
                    bottom: 12%;
                    left: 10%;
                    animation-duration: 3s;
                }
                &.coin-2 {
                    bottom: 170px;
                    left: 50%;
                    margin-left: -6px;
                    animation-duration: 2s;
                }
                &.coin-3 {
                    bottom: 10%;
                    right: 40px;
                    animation-duration: 4s;
                }
                &.coin-4 {
                    bottom: 30%;
                    left: 20%;
                    animation-duration: 4s;
                }
            }
            .cd-container {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 10px;
                z-index: 50;
                .time-wrap {
                    .iconfont {
                        font-size: 24px;
                        margin-right: 10px;
                    }
                    .time {
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: normal;
                    }
                }
                .cd-progress {
                    width: 90%;
                    margin: 0 auto;
                    height: 15px;
                    border: 1px solid #f4c044;
                    .cd-progress-bar {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: #f4c044;
                        transform-origin: 100% 50%;
                        transform: translate3d(0, 0, 0) scale(1, 1);
                        // animation-fill-mode: forwards;
                        // animation-timing-function: linear;
                    }
                }
            }
            .game-playing {}
            .result {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                bottom: 0;
                text-align: center;
                z-index: 60;
                display: none;
                .result-text {
                    position: absolute;
                    width: 100%;
                    height: 60px;
                    bottom: 150px;
                    left: 0;
                    text-align: center;
                    color: #3b576d;
                    font-size: 1.5rem;
                    display: none;
                    p {
                        margin: 5px 0;
                    }
                }
                .result-image-wrap {
                    position: absolute;
                    width: 100%;
                    bottom: 220px;
                    left: 0;
                    text-align: center;
                    display: none;
                }
                .result-image {
                    max-width: 30%;
                    animation: swing 1s infinite linear;
                }
                .btn-again-wrap {
                    position: absolute;
                    width: 100%;
                    height: 30px;
                    bottom: 130px;
                    left: 0;
                    text-align: center;
                    .btn-again {
                        @include button-variant(#fff, #d25949, #d25949);
                        text-decoration: none;
                        user-select: none;
                        padding: 5px 30px;
                        border-radius: 20px;
                        margin-top: 10px;
                        border-left: 1px solid #b34435;
                        border-right: 1px solid #b34435;
                        border-bottom: 3px solid #9d3527;
                        margin-bottom: 20px;
                    }
                }
                .btn-group {
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    bottom: 55px;
                    left: 0;
                }
                .send,
                .share {
                    display: inline-block;
                    width: 40%;
                    border: 1px solid #d25949;
                    line-height: 30px;
                    border-radius: 20px;
                    margin-right: 1%;
                    text-align: center;
                    padding-left: 30px;
                    color: #333;
                }
                .send {
                    background: url(../images/p20.png) no-repeat 10px center;
                    background-size: auto 25px;
                }
                .share {
                    background: url(../images/p21.png) no-repeat 10px center;
                    background-size: auto 25px;
                }
                &.good {
                    .good {
                        display: block;
                    }
                }
                &.normal {
                    .normal {
                        display: block;
                    }
                }
                &.bad {
                    .bad {
                        display: block;
                    }
                }
                &.fail {
                    .fail {
                        display: block;
                    }
                }
            }
        }
    }
}

.copyright {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    z-index: 1060;
    transform: translate3d(0, 0, 200px);
    font-size: 1.5rem;
    display: none;
    .head {
        height: 50px;
        line-height: 50px;
        position: relative;
        img {
            vertical-align: middle;
            margin-right: 1rem;
        }
    }
    .body {
        border-top: 1px dashed rgba(255, 255, 255, 0.3);
        color: #c6c6c6;
        display: none;
        padding: 5px 10px;
    }
    &.collapse {
        .toggle {
            position: absolute;
            width: 17px;
            height: 14px;
            background: url(../images/p51.png) no-repeat center center;
            background-size: 17px 14px;
            right: 10px;
            top: 15px;
        }
        .body {
            display: none;
        }
        &.in {
            .body {
                display: block;
            }
            .toggle {
                position: absolute;
                width: 16px;
                height: 16px;
                background: url(../images/p52.png) no-repeat center center;
                background-size: 16px 16px;
                right: 10px;
                top: 15px;
            }
        }
    }
}

.share-guild {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1050;
    text-align: center;
    display: none;
}

.pace {
    &.pace-pack {
        z-index: 999;
    }
}